<h1>About</h1>
<p>
	CarbonDB is a <a href="http://en.wikipedia.org/wiki/Life-cycle_assessment" target="_blank">life cycle assessment</a>
    (LCA) <a href="http://en.wikipedia.org/wiki/Open_data" target="_blank">open dataset</a>
    mainly centered on greenhouse gas and energy impacts.
</p>
<p>
	It is structured as a domain
    <a href="http://en.wikipedia.org/wiki/Ontology_(information_science)" target="_blank">ontology</a>
    in terms of the
    <a href="http://en.wikipedia.org/wiki/Resource_Description_Framework" target="_blank">Ressource Description Framework</a>
    (RDF) <a href="http://www.w3.org/" target="_blank">World Wide Web Consortium</a> specification.
</p>
<p>
	Source data is maintained by <a href="http://www.myc-sense.com/" target="_blank">My C-Sense</a> as an
    <a href="https://github.com/myclabs/carbonontology" target="_blank">open source project</a>,
    from where it can be freely downloaded, consulted, and edited using any ontology editor, for instance
    <a href="http://protege.stanford.edu/" target="_blank">Protégé</a>.
</p>
<p>
	Changes on ontology can be followed
    <a href="https://github.com/myclabs/carbonontology/commits/master" target="_blank">here</a>.
    Please feel free to contribute by submitting
    <a href="https://github.com/myclabs/carbonontology/issues" target="_blank">issues</a> or directly
    <a href="https://github.com/myclabs/carbonontology/pulls" target="_blank">submitting an improved version
        of the ontology</a>.
</p>
<p>
	The secondary data (computed data like elementary flows) are derived from source data
    (and still expressed in RDF) by an
    <a href="http://en.wikipedia.org/wiki/Inference_engine" target="_blank">inference engine</a>
    maintained by <a href="http://www.myc-sense.com/" target="_blank">My C-Sense</a> as an
    <a href="https://github.com/myclabs/carbondb" target="_blank">open source project</a>.
</p>
<p>	
	The remaining layer is the user interface application displaying the data. Only this part of the project
    has not been made open-source/data yet.
</p>
<p>
	This project benefited from
    <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/b/Bertin:Benjamin.html" target="_blank">research</a>
    jointly carried on by <a href="http://www.myc-sense.com/" target="_blank">My C-Sense</a>
    and computer science laboratory
    <a href="https://liris.cnrs.fr/front-page-en?set_language=en" target="_blank">LIRIS</a>
    from <a href="http://www.universite-lyon.fr/" target="_blank">Université de Lyon</a>.
    Its main innovative feature is the fact that dependency relations among processes can be defined at a
    <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-32606-6_9" target="_blank">macro-level</a>,
    which makes the model easier to understand and maintain.
</p>
<hr />
