<div class="container">
  <h1>
    <span ng-repeat="keyword in keywords">{{keyword.label}} <span ng-show="!$last">-</span> </span>
  </h1>
  <p>
    <h3>Value: {{value.value}} {{unit}}</h3>
    <h2>Groups containing this coefficient</h2>
    <ul>
      <li><a ng-repeat="(groupId, groupLabel) in groups" ng-href="#/group/{{groupId}}">{{groupLabel}}</a></li>
    </ul>

    <h2>Relations</h2>
    <div ng-if="relations.length == 0">This coefficient has relation.</div>
  	<table class="table tmd table-nonfluid" ng-if="relations.length > 0">
  		<tr>
  			<th>Upsteam</th>
  			<th>Coefficient</th>
  			<th>Downstream</th>
  		</tr>
  		<tr ng-repeat="relation in relations">
  			<td ng-if="relation.originId != id">
          <a ng-href="#/process/{{relation.originId}}">
            <span ng-repeat="keyword in relation.originKeywords.keywords">{{keyword.label}} <span ng-show="!$last">-</span> </span>
            <small>[{{relation.originUnit}}]</small>
          </a>
        </td>
        <td>
          <span ng-repeat="keyword in relation.coeffKeywords.keywords">{{keyword.label}} <span ng-show="!$last">-</span> </span>
          <small>[{{relation.coeffUnit}}]</small>
          <sup ng-if="relation.exponent == -1">-1</sup>
        </td>
        <td ng-if="relation.destId != id">
          <a ng-href="#/process/{{relation.destId}}">
            <span ng-repeat="keyword in relation.destKeywords.keywords">{{keyword.label}} <span ng-show="!$last">-</span> </span>
            <small>[{{relation.destUnit}}]</small>
          </a>
        </td>
  	 	</tr>
  	</table>
  <hr />
</div>

