<div class="container">
  <h1>
    <span ng-repeat="keyword in keywords">{{keyword.label}} <span ng-show="!$last">-</span> </span>
  </h1>
  <p>
    <h3>Value: {{value.value}} {{unit.symbol}}</h3>

    <a data-toggle="collapse" data-target="#relations" style="cursor: pointer;" ng-click="toggleVisibility('coefficientRelations')" class="collapseHead"><h2>Relations <small>{{isVisible('coefficientRelations') ? 'hide' : 'show'}}</small></h2></a>
    <div class="collapse" ng-class="{in : coefficientRelationsVisibility}" id="relations">
        <div ng-if="relations.length == 0">This coefficient has relation.</div>
        <table class="table tmd table-nonfluid" ng-if="relations.length > 0">
            <tr>
                <th>Upsteam</th>
                <th>Coefficient</th>
                <th>Downstream</th>
            <th></th>
            </tr>
            <tr ng-repeat-start="relation in relations">
                <td>
              <a ng-href="#/process/{{relation.sourceId}}">
                {{relation.sourceLabel}}
                <small>[{{relation.sourceUnit.symbol}}]</small>
              </a>
            </td>
            <td>
              {{relation.coeffLabel}}
              <small>[{{relation.coeffUnit.symbol}}]</small>
              <sup ng-if="relation.exponent == -1">-1</sup>
            </td>
            <td>
              <a ng-href="#/process/{{relation.destinationId}}">
                {{relation.destinationLabel}}
                <small>[{{relation.destinationUnit.symbol}}]</small>
              </a>
            </td>
            <td><a data-toggle="collapse" data-target="#infos-{{$index}}" style="cursor: pointer;">Infos</a></td>
            </tr>
          <tr ng-repeat-end>
            <td colspan="4" class="td-collapse">
              <div class="collapse out" id="infos-{{$index}}">
                <p>Relation type: {{relation.sourceRelation.type.label}}</p>
                <strong>Derived from:</strong>
                <table class="table tmd table-nonfluid">
                  <tr>
                    <th>Upsteam</th>
                    <th>Coefficient</th>
                    <th>Downstream</th>
                  </tr>
                  <tr>
                    <td><a ng-href="#/group/{{relation.sourceRelation.source.id}}">{{relation.sourceRelation.source.label}}</a></td>
                    <td><a ng-href="#/group/{{relation.sourceRelation.coeff.id}}">{{relation.sourceRelation.coeff.label}} <sup ng-if="relation.sourceRelation.exponent == -1">-1</sup></a></td>
                    <td><a ng-href="#/group/{{relation.sourceRelation.destination.id}}">{{relation.sourceRelation.destination.label}}</a></td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
        <h3>Groups containing this coefficient</h3>
        <ul>
            <li ng-repeat="group in groups"><a ng-href="#/group/{{group.id}}">{{group.label}}</a></li>
        </ul>
    </div>
  <hr />
</div>

