<div class="container">
    <h1>Contribute</h1>
    <p>
        Your contributions are welcomed, this projects depends on them. Since it is altogether open data and
        open source, you are welcomed to contribute either to the data or to the code.
    </p>
    <h2>Contribute to the data</h2>
    <p>
        Source data are maintained by <a href="http://www.myc-sense.com/" target="_blank">My C-Sense</a> as an
        <a href="https://github.com/myclabs/CarbonDB-reasoner" target="_blank">open source project on Github</a>.
        Here are the basic ways to contribute:
    </p>
    <ol>
        <li><a href="https://github.com/myclabs/CarbonDB-ontology/issues" target="_blank">comment existing issues</a>,</li>
        <li><a href="https://github.com/myclabs/CarbonDB-ontology/issues/new" target="_blank">submit an issue</a>,</li>
        <li><a href="https://github.com/myclabs/CarbonDB-ontology/pulls" target="_blank">submit an improved version of the ontology</a>.</li>
    </ol>
    <p>
        The first two ways are rather simple, you will just need an account on Github (leading platform
        of code hosting).
    </p>
    <p>
        In order to contribute the third way you will have to directly edit the CarbonDB source data.
        Those take the form of a domain
        <a href="http://en.wikipedia.org/wiki/Ontology_(information_science)" target="_blank">ontology</a>
        expressed in the universal
        <a href="http://en.wikipedia.org/wiki/Resource_Description_Framework" target="_blank">Ressource Description
            Framework</a> (RDF) language (a refinement of
        <a href="http://en.wikipedia.org/wiki/XML" target="_blank">XML</a> specified by
        <a href="http://www.w3.org/" target="_blank">World Wide Web Consortium</a>).
    </p>
    <p>
        These source data can be
        <a href="https://github.com/myclabs/CarbonDB-ontology/blob/master/carbondb.rdf" target="_blank">viewed online</a>
        and downloaded from the
        <a href="https://github.com/myclabs/CarbonDB-ontology" target="_blank">project repository on Github</a>.
        They are contained in a single file: "carbondb.rdf".
    </p>
    <p>
        Once you have downloaded the source data file, you will be able to edit them with any ontology editor,
        for instance <a href="http://protege.stanford.edu/" target="_blank">Protégé</a> (this is the one we
        used from the very beginning), and finally
        <a href="https://github.com/myclabs/CarbonDB-ontology/pulls" target="_blank">submit the improved version as
            a pull request</a>.
    </p>

    <h2>Contribute to the code</h2>
    <p>
        Underlying code is made of two layers: an inference engine ("reasoner") and a front-end web application.
        Only the inference engine is open-source at this stage. Its main role is to compute secondary data
        (in particular elementary flows of almost all processes) from source data (coefficients).
    </p>
    <p>
        Please join us on the
        <a href="https://github.com/myclabs/CarbonDB-reasoner" target="_blank">repository of inference engine on Github</a>.
    </p>
    <hr />
</div>