<div class="container">
    <h1>Documentation</h1>
    <ul>
        <li><a href="" ng-click="scrollTo('about')">About</a></li>
        <li><a href="" ng-click="scrollTo('help')">Help</a></li>
        <li><a href="" ng-click="scrollTo('bugs')">Known bugs</a></li>
        <li><a href="" ng-click="scrollTo('licence')">Licence</a></li>
        <li><a href="" ng-click="scrollTo('logo')">Logo</a></li>
    </ul>

    <!-- About -->

    <a class="anchor" id="about"></a>
    <h2>About</h2>
    <p>
        CarbonDB is a <a href="http://en.wikipedia.org/wiki/Life-cycle_assessment" target="_blank">life cycle assessment</a>
        (LCA) <a href="http://en.wikipedia.org/wiki/Open_data" target="_blank">open dataset</a>
        mainly centered on greenhouse gas and energy impacts.
    </p>
    <p>
        It is structured as a domain
        <a href="http://en.wikipedia.org/wiki/Ontology_(information_science)" target="_blank">ontology</a>
        in terms of the
        <a href="http://en.wikipedia.org/wiki/Resource_Description_Framework" target="_blank">Ressource Description Framework</a>
        (RDF) <a href="http://www.w3.org/" target="_blank">World Wide Web Consortium</a> specification.
    </p>
    <p>
    	Source data is maintained by <a href="http://www.myc-sense.com/" target="_blank">My C-Sense</a> as an
        <a href="https://github.com/myclabs/CarbonDB-ontology" target="_blank">open source project</a>,
        from where it can be freely downloaded, consulted, and edited using any ontology editor, for instance
        <a href="http://protege.stanford.edu/" target="_blank">Protégé</a>.
    </p>
    <p>
    	Changes on ontology can be followed
        <a href="https://github.com/myclabs/CarbonDB-ontology/commits/master" target="_blank">here</a>.
        Please feel free to contribute by submitting
        <a href="https://github.com/myclabs/CarbonDB-ontology/issues" target="_blank">issues</a> or directly
        <a href="https://github.com/myclabs/CarbonDB-ontology/pulls" target="_blank">submitting an improved version
            of the ontology</a>.
    </p>
    <p>
        Secondary data (computed data like elementary flows) are derived from source data
        (and still expressed in RDF) by an
        <a href="http://en.wikipedia.org/wiki/Inference_engine" target="_blank">inference engine</a>
        maintained by <a href="http://www.myc-sense.com/" target="_blank">My C-Sense</a> as an
        <a href="https://github.com/myclabs/CarbonDB-reasoner" target="_blank">open source project</a>.
    </p>
    <p>	
        The remaining layer is the user interface application displaying the data. Only this part of the project
        has not been made open-source/data yet.
    </p>
    <p>
        This project benefited from
        <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/b/Bertin:Benjamin.html" target="_blank">research</a>
        jointly carried on by <a href="http://www.myc-sense.com/" target="_blank">My C-Sense</a>
        and computer science laboratory
        <a href="https://liris.cnrs.fr/front-page-en?set_language=en" target="_blank">LIRIS</a>
        from <a href="http://www.universite-lyon.fr/" target="_blank">Université de Lyon</a>.
        Its main innovative feature is the fact that dependency relations among processes can be defined at a
        <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-32606-6_9" target="_blank">macro-level</a>,
        which makes the model easier to understand and maintain.
    </p>
    <hr />

    <!-- Help -->

    <a class="anchor" id="help"></a>
    <h2>Help</h2>
    <p>CarbonDB is based on classical life cycle assessment concepts. The basic objects involved are
        <strong>processes</strong>, <strong>relations</strong>, <strong>coefficients</strong>,
        <strong>elementary flows</strong>, <strong>impacts</strong>. </p>

    <ul>
        <li><strong>Processes</strong> represent any kind of product, service, human activity, or even physical
            process. Processes are related by <strong>dependency relations</strong> ("economic flows") and
            associated to <strong>elementary flows</strong> to / from biosphere. </li>
        <li><strong>Coefficients</strong> are just scalars, they play the role of weights in dependency
            relations between processes (for this reason they are called "coefficients").</li>
        <li><strong>Impacts</strong> of a process are computed from its elementary flows
            (in general through a simple linear combination). For instance, for a given process,
            adding its greenhouse gas emissions weighted by global warming potentials of corresponding gases
            on a definite duration (say 100 years), one obtains a single figure (impact) that sums up
            those emissions. </li>
    </ul>

    <p>Here are some features of the contents. </p>

    <ul>
        <li>Processes and coefficients are grouped in <strong>groups of processes</strong> and <strong>groups of
            coefficients</strong>. It is those groups that appear as clickable links in the tree displayed in
            home page. Their names are preceded by "[P]" or "[C]" in order to distinguish between these two
            concepts. </li>
        <li>Dependency relations ("economic flows") are entirely displayed at a <em>"macro" level</em> between
            groups of processes, and weighted by groups of coefficients. On the page of any group of processes or
            coefficients, you will find the relations in which this group is involved. Sometimes, weights have to
            be used as denominators (in this case they are displayed with a "-1" <strong>exponent</strong> in this
            view). </li>
        <li>From these macro-relations, <em>micro-relations</em> (the usual "economic flows") are derived through
            an algorithm which is quite intuitive but not so easy to explain in a few words.
            <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-32606-6_9">This paper</a>
            explains in details how this stuff works, but we hope its reading is not required for understanding
            and using the model in practice.  </li>
        <li>Elementary flows and impacts are of any kind, and can be entirely customized in the model. At this
            stage elementary flows and impacts deal with: <em>greenhouse gas emissions</em>, <em>primary energy
                extraction</em>, and <em>final energy consumption</em>, but other kinds of elementary flows and
            impacts could be added in the future. </li>
        <li>In the view of a process group, the default displayed value type is the total of greenhouse gas
            emissions, expressed in 100 years GWP CO2-equivalent. But other impacts (like total of greenhouse
            gas emissions expressed in 20 years GWP CO2-equivalent) and all elementary flows (like emissions of
            greenhouse gas for a particular gas or primary energy extraction for a particular source of primary
            energy) are available through a scrolling list. </li>
        <li><em>All source data are carried out by coefficients</em>. In other words, all elementary flows are
            calculated from a very short list of purely physical processes (like direct emissions of greenhouse
            gases) through dependency relations and coefficient values. All these processes are contained in
            category "Miscellaneous > Direct generic elementary flows". </li>
        <li>Values carry <em>no uncertainty</em> at this stage, but those will be added as soon as the values
            of uncertainties on source data will be chosen. </li>
        <li>In dependency relations, units should be compatible only at the physical quantity level
            (<a href="http://units.myc-sense.com/en/">unit conversions</a> are carried out automatically in the
            calculation of elementary flows). </li>
    </ul>

    <p>
        You can <em>browse</em> the data either by:
    </p>
    <ul>
        <li>unfolding the categories on tree page,</li>
        <li>or, accessing to groups of processes or coefficients from the graph page,</li>
        <li>or, accessing to groups from their references, starting from the reference page,</li>
        <li>or, once you picked up a group of processes or coefficients, clicking on other groups involved in
            neighboring relations.</li>
    </ul>
    <p>Have fun!</p>

    <p>A <em>roadmap</em> displaying some forthcoming features is available
        <a href="https://github.com/myclabs/CarbonDB-ontology/wiki/Front-end-application,-forthcoming-functionnalities">here</a>.</p>

    <p>The units used in CarbonDB can be found in the
        <a href="http://units.myc-sense.com/en" target="_blank">My C-sense Units application</a>.</p>
    <hr />

    <!-- Bugs -->
    <a class="anchor" id="bugs"></a>
    <h2>Known bugs / drawbacks</h2>
    Here are some known disturbing bugs and drawbacks, and, whenever possible, how to deal with them.
    <h3>Unsolved yet</h3>
    <ul>
        <li>2014-10-29 <strong>Redimensioning the graph page makes arrows disappear.</strong>
            If this happens to you please just refresh the page, this should solve the problem.</li>
        <li>2014-10-08 <strong>Missing tree and/or graph on the corresponding pages.</strong>
            Sometimes the categories tree or/and the graph disappear(s).
            If this happens to you please just refresh the page, this should solve the problem.</li>
    </ul>
    <h3>Solved</h3>
    <ul>
        <li>2014-10-15 <strong>Confusing display of graph.</strong>
            Improved on 2014-10-30.</li>
        <li>2014-10-09 <strong> Missing arrows on the graph, with Firefox.</strong>
            Solved on 2014-10-09.</li>
    </ul>

    <hr />

    <!-- Licence -->

    <a class="anchor" id="licence"></a>
    <h2>Licence</h2>
    <p>CarbonDB source data (RDF file) are made available under the
        <a href="http://opendatacommons.org/licenses/odbl/1.0/" target="_blank">Open Data Commons Open Database License (ODbL)</a>.</p>

    <hr />

    <!-- Logo -->

    <a class="anchor" id="logo"></a>
    <h2>Logo</h2>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="img-responsive">
                <img src="assets/images/carbonDB-logo-blue.svg">
            </div>
        </div>
    </div>
    <hr />
</div>