<div class="container">
  <div class="page-header">
    <h1>CarbonDB <small>Open data life cycle assessment for energy and carbon</small></h1>
  </div>
  
  <h2>Browse data</h2>
    <p>You can access the data using the three following interfaces:</p>
    <div class="row menu-home">
      <div class="col-sm-3 col-sm-offset-1">
        <a href="#tree" class="thumbnail"><i class="icon-list-nested"></i><br>Category tree</a>
      </div>
      <div class="col-sm-3">
        <a href="#graph" class="thumbnail"><i class="icon-share"></i>Process graph</a>
      </div>
      <div class="col-sm-3">
        <a href="#references" class="thumbnail"><i class="icon-book"></i>References</a>
      </div>
    </div>
  <hr />

    <h2>What's new</h2>
    <p>
        Here is a log of main changes on functionalities and data.
        For a fully detailed log, please consult the
        <a href="https://github.com/myclabs/CarbonDB-ontology" target="_blank">data</a>
        and <a href="https://github.com/myclabs/CarbonDB-reasoner" target="_blank">inference engine</a> open source projects on Github
        (user interface application project is not open source at this stage).
    </p>
    <ul>
        <li><strong>2014-12-01</strong> <strong>[Data]</strong>
            Added upstream of anthracite (hard coal). Added electricity generation for various modes of
            generation. Added European Union electricity mix (rough attempt), plus various losses.
            Added processes for rail freight transport, depending
            on propelling energy, train weight, and freight density.</li>
        <li><strong>2014-11-19</strong> <strong>[Partners]</strong>
            <a href="http://avenirclimatique.org/" target="_blank">Avenir Climatique</a>
            joined us as partner.</li>
        <li><strong>2014-11-18</strong> <strong>[Functionalities]</strong>
            Users now have access to two versions of the data: the last stable version (default choice)
            and a "work in progress" version.</li>
        <li><strong>2014-11-12</strong> <strong>[Functionalities]</strong>
            In the page of a group or of a single element, it is now possible to view the list of derived relations
            associated to a given source relation,
            or to view the source relation corresponding to a given derived relation.</li>
        <li><strong>2014-11-10</strong> <strong>[Partners]</strong>
            <a href="http://www.associationbilancarbone.fr" target="_blank">Association Bilan Carbone (ABC)</a>
            joined us as partner.</li>
        <li><strong>2014-11-06</strong> <strong>[Functionalities]</strong>
            Open source licence
            <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GNU GPLv3</a> added on
            <a href="https://github.com/myclabs/CarbonDB-reasoner" target="_blank">reasoner code</a>.</li>
        <li><strong>2014-11-06</strong> <strong>[Functionalities]</strong>
            On the page of a group, display of other groups sharing common elements (when such other groups exist).</li>
        <li><strong>2014-11-05</strong> <strong>[Data]</strong>
            Open data licence
            <a href="http://opendatacommons.org/licenses/odbl/1.0/" target="_blank">ODbL</a> added on
            <a href="https://github.com/myclabs/CarbonDB-ontology" target="_blank">source data</a>.</li>
        <li><strong>2014-10-30</strong> <strong>[Functionalities]</strong>
            Display of the graph of source relations has been improved. Arrows tend to be oriented from left to right,
            which means that upstream processes are displayed rather on the left, and downstream processes rather
            on the right.</li>
        <li><strong>2014-10-30</strong> <strong>[Functionalities]</strong>
            Home page, menu on the right, and pages accessible from this menu have been completely reorganized.</li>
        <li><strong>2014-10-28</strong> <strong>[Functionalities]</strong>
            In the graph view arrows are now coloured, depending on the nature of the corresponding relation.</li>
        <li><strong>2014-10-28</strong> <strong>[Data]</strong>
            Primary energy extraction data added for upstream of fossil fuels (and as a consequence for any downstream
            process). You can now view the amount of primary energy (either the total or only under the form of say
            crude oil) extracted in order to produce 1 kg of yoghurt!</li>
        <li><strong>2014-10-28</strong> <strong>[Data]</strong>
            Refactoring of upstream and combustion of fuels. The model for upstream of fuel now takes into account
            various steps (production and conditioning at source, transportation to market, refining near market).
            Most of source data are now referenced. Much still remains to be done (fuel distribution, upstream of solid
            fossil fuels, etc). Some <a href="https://github.com/myclabs/CarbonDB-ontology/issues" target="_blank">issues
            have been created on Github</a>.</li>
        <li><strong>2014-10-21</strong> <strong>[Functionalities]</strong>
            List of references.</li>
        <li><strong>2014-10-15</strong> <strong>[Functionalities]</strong>
            Members of a dimension can be ordered at hand (they are not necessarily displayed in alphabetical order).</li>
        <li><strong>2014-10-15</strong> <strong>[Functionalities]</strong>
            Tree and global graph on separate pages.</li>
        <li><strong>2014-10-13</strong> <strong>[Functionalities]</strong>
            Display of references.</li>
        <li><strong>2014-10-09</strong> <strong>[Functionalities]</strong>
            Addition of single process and single coefficient views.</li>
        <li><strong>2014-10-09</strong> <strong>[Functionalities]</strong> Display of comments on groups.
            At this stage few comments exist among the data, but you can find one for group
            "Mass of agricultural input used for cultivation of a unit of area".</li>
        <li><strong>2014-10-09</strong> <strong>[Functionalities]</strong>
            Addition of pages "What's new" and "Known bugs".</li>
        <li><strong>2014-10-07</strong> <strong>[Functionalities]</strong>
            In the view on a group of processes, display of values ands units for various impacts and elementary flows
            (instead of the single "100 years global warming potential GHG" impact that was displayed up to now).</li>
        <li><strong>2014-09-30</strong> <strong>[Data]</strong>
            Addition of air freight transport group and jet fuel combustion and upstream.</li>
        <li><strong>2014-08-26</strong> <strong>Online application launched!</strong>
            Embryonic data (categories, groups, relations, in order to display functionalities).
            Tree of categories and graph of groups of processes available on home page.
            View of a group of processes displays the the single "100 years global warming potential GHG" impact
            and upstream and downstream relations.</li>
    </ul>

    <hr />
</div>