<div class="container">
    <h1>Known bugs and main drawbacks</h1>
    Here are some known disturbing bugs and drawbacks, and, whenever possible, how to deal with them.
    <h2>Unsolved yet</h2>
    <ul>
        <li>2014-10-15 <strong>Confusing display of global graph.</strong>
            At this stage global graph display is confusing, since global positionning of cells is random,
        and graph topology (arrows) is not taken into account. We will try to improve that in next future.
        In the meantime the one and only solution is to use drag and drop to reorganize (at least locally) the graph.</li>
        <li>2014-10-08 <strong>Missing tree and/or graph on home page.</strong>
            Sometimes the categories tree or/and the graph displayed on home page disappear(s).
            If this happens please just refresh the page, this should solve the problem.</li>
    </ul>
    <h2>Solved</h2>
    <ul>
        <li>2014-10-09 <strong> Missing arrows for the graph on home page, with Firefox.</strong>
            With Firefox, arrows of edges of the graph on home page are missing. Solved on 2014-10-09.</li>
    </ul>
    <hr />
</div>