<div class="container">
    <h1>Known bugs</h1>
    Here are some known disturbing bugs, and, whenever possible, how to deal with them.
    <h2>Unsolved yet</h2>
    <ul>
        <li><strong>Missing tree and/or graph on home page.</strong>
            Sometimes the categories tree or/and the graph displayed on home page disappear(s).
            If this happens please just refresh the page, this should solve the problem.</li>
    </ul>
    <h2>Solved</h2>
    <ul>
        <li><strong>Missing arrows for the graph on home page, with Firefox.</strong>
            With Firefox, arrows of edges of the graph on home page are missing. Solved on 2014-10-09.</li>
    </ul>
    <hr />
</div>