<div class="container">
    <h1>Partners</h1>
    <div class="row">
        <!--
        <div class="col-sm-2">
            <a href="http://www.insa-lyon.fr" target="_blank"><img src="assets/images/partner/INSA-Lyon.eps" class="img-responsive" alt="Institut National des Sciences Appliquées (INSA) de Lyon"></a>
        </div>
        -->
        <div class="col-sm-2">
            <a href="http://liris.cnrs.fr/" target="_blank"><img src="assets/images/partner/LIRIS.png" class="img-responsive" alt="Laboratoire d'InfoRmatique en Image et Systèmes d'information (LIRIS)"></a>
        </div>
        <div class="col-sm-2">
            <a href="http://www.myc-sense.com" target="_blank"><img src="assets/images/partner/My-C-Sense.png" class="img-responsive" alt="My C-sense"></a>
        </div>
    </div>
    <hr />
</div>