<div class="container" id="partners">
    <h1>Partners</h1>
    <hr />
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="http://www.associationbilancarbone.fr" target="_blank" class="thumbnail"><img src="assets/images/partner/ABC.jpg" class="img-responsive" alt="Association Bilan Carbone (ABC)"></a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="http://avenirclimatique.org" target="_blank" class="thumbnail"><img src="assets/images/partner/AC.png" class="img-responsive" alt="Avenir Climatique"></a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="http://liris.cnrs.fr" target="_blank" class="thumbnail"><img src="assets/images/partner/LIRIS.png" class="img-responsive" alt="Laboratoire d'InfoRmatique en Image et Systèmes d'information (LIRIS)"></a>
        </div>
        <!--
        <div class="col-sm-2 col-xs-6">
            <a href="http://www.insa-lyon.fr" target="_blank"><img src="assets/images/partner/INSA-Lyon.eps" class="img-responsive" alt="Institut National des Sciences Appliquées (INSA) de Lyon"></a>
        </div>
        -->
        <div class="col-xs-6 col-md-3">
            <a href="http://www.myc-sense.com" target="_blank" class="thumbnail"><img src="assets/images/partner/My-C-Sense.png" class="img-responsive" alt="My C-sense"></a>
        </div>
    </div>
    <hr />
    <h1>Acknowledgements</h1>
    <p>We gratefully acknowledge
        <a href="http://www.associationbilancarbone.fr" target="_blank">Association Bilan Carbone (ABC)</a> for
        giving us the authorization to promote the CarbonDB project to members of its
        <a href="http://www.associationbilancarbone.fr/reseaux-expert" target="_blank">network of experts</a>.
    </p>
</div>