<div class="container">
  <h1>
    <span ng-repeat="keyword in keywords">{{keyword.label}} <span ng-show="!$last">-</span> </span><small>[{{unit.symbol}}]</small>
  </h1>
  <a data-toggle="collapse" data-target="#localGraph" style="cursor: pointer;" ng-click="toggleVisibility('processGraph')" class="collapseHead"><h2>Local graph <small>{{isVisible('processGraph') ? 'hide' : 'show'}}</small></h2></a>
</div>
<div id="processView">
    <div class="collapse" ng-class="{in : processGraphVisibility}" id="localGraph">
        <div class="container">
            <p>Tips: use your mousewheel to zoom in/out, click and move your cursor to pan, drag and drop a group to reorganize the graph, double-click on a group to unpin it.</p>
            Legend - type of relations:
                <span ng-repeat="type in relationTypes" style="color: {{type.color}}" data-toggle="tooltip" data-placement="top" title="{{type.comment}}" tooltip>{{type.label}} <span class="glyphicon glyphicon-question-sign"></span><span ng-if="!$last"> | </span>
            </span>
            </p>
            <label class="control-label">Upstream depth:</label>
            <div class="btn-group">
                <button class="btn btn-primary btn-xs" ng-class="{active: ($index + 1)==$parent.upstreamDepth}" ng-click="$parent.upstreamDepth = ($index + 1)" ng-repeat="n in [1, 2, 3] track by $index">{{n}}</button>
            </div>
            <label class="control-label">Downstream depth:</label>
            <div class="btn-group">
                <button class="btn btn-primary btn-xs" ng-class="{active: ($index + 1)==$parent.downstreamDepth}" ng-click="$parent.downstreamDepth = ($index + 1)" ng-repeat="n in [1, 2, 3] track by $index">{{n}}</button>
            </div>
        </div>
        <div d3-force nodes="d3Nodes" links="d3Links" types="relationTypes" full-page="false" id="graph" local="true" derived="true" node-id="nodeId"></div>
    </div>
</div>

<div class="container">

<a data-toggle="collapse" data-target="#relations" style="cursor: pointer;" ng-click="toggleVisibility('processRelations')" class="collapseHead"><h2>Relations <small>{{isVisible('processRelations') ? 'hide' : 'show'}}</small></h2></a>
<div class="collapse" ng-class="{in : processRelationsVisibility}" id="relations">
    <div ng-if="relations.length == 0">This process has no relation.</div>
    <table class="table tmd table-nonfluid" ng-if="relations.length > 0">
        <tr>
            <th>Upsteam</th>
            <th>Coefficient</th>
            <th>Downstream</th>
            <th></th>
        </tr>
        <tr ng-repeat-start="relation in relations">
            <td ng-if="relation.sourceId != id">
                <a ng-href="#/process/{{relation.sourceId}}">
                    {{relation.sourceLabel}}
                    <small>[{{relation.sourceUnit.symbol}}]</small>
                </a>
            </td>
            <td ng-if="relation.sourceId == id">
                {{relation.sourceLabel}}
                <small>[{{relation.sourceUnit.symbol}}]</small>
            </td>
            <td ng-if="relation.coeffId != id">
                <a ng-href="#/coefficient/{{relation.coeffId}}">
                    {{relation.coeffLabel}}
                    <small>[{{relation.coeffUnit.symbol}}]</small>
                    <sup ng-if="relation.exponent == -1">-1</sup>
                </a>
            </td>
            <td ng-if="relation.destinationId != id">
                <a ng-href="#/process/{{relation.destinationId}}">
                    {{relation.destinationLabel}}
                    <small>[{{relation.destinationUnit.symbol}}]</small>
                </a>
            </td>
            <td ng-if="relation.destinationId == id">
                {{relation.destinationLabel}}
                <small>[{{relation.destinationUnit.symbol}}]</small>
            </td>
            <td><a data-toggle="collapse" data-target="#infos-{{$index}}" style="cursor: pointer;">Infos</a></td>
        </tr>
        <tr ng-repeat-end>
            <td colspan="4" class="td-collapse">
                <div class="collapse out" id="infos-{{$index}}">
                    <p>Relation type: <span style="color: {{relationTypes[relation.sourceRelation.type.id].color}}" data-toggle="tooltip" data-placement="top" title="{{relationTypes[relation.sourceRelation.type.id].comment}}" tooltip>{{relation.sourceRelation.type.label}} <span class="glyphicon glyphicon-question-sign"></span></span></p>
                    <strong>Derived from:</strong>
                    <table class="table tmd table-nonfluid table-striped table-consended">
                        <thead>
                        <tr>
                            <th>Upsteam</th>
                            <th>Coefficient</th>
                            <th>Downstream</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a ng-href="#/group/{{relation.sourceRelation.source.id}}">{{relation.sourceRelation.source.label}}</a></td>
                            <td><a ng-href="#/group/{{relation.sourceRelation.coeff.id}}">{{relation.sourceRelation.coeff.label}} <sup ng-if="relation.sourceRelation.exponent == -1">-1</sup></a></td>
                            <td><a ng-href="#/group/{{relation.sourceRelation.destination.id}}">{{relation.sourceRelation.destination.label}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <h3>Groups containing this process</h3>
    <ul>
        <li ng-repeat="group in groups"><a ng-href="#/group/{{group.id}}">{{group.label}}</a></li>
    </ul>
</div>

    <a data-toggle="collapse" data-target="#impacts" style="cursor: pointer;" ng-click="toggleVisibility('processImpacts')" class="collapseHead"><h2>Impacts <small>{{isVisible('processImpacts') ? 'hide' : 'show'}}</small></h2></a>
    <div class="collapse" ng-class="{in : processImpactsVisibility}" id="impacts">
      <div ng-if="impacts.length == 0">This process has no impact.</div>
      <table class="table tmd table-nonfluid table-condensed table-striped" ng-if="impacts.length > 0">
        <thead>
          <tr>
            <th>Category</th>
            <th>Type</th>
            <th>Value</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="impact in impacts">
            <td>{{impact.category}}</td>
            <td>{{impact.label}}</td>
            <td>{{impact.value}}</td>
            <td>{{impact.unit.symbol}} / {{unit.symbol}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a data-toggle="collapse" data-target="#flows" style="cursor: pointer;" ng-click="toggleVisibility('processFlows')" class="collapseHead"><h2>Elementary flows <small>{{isVisible('processFlows') ? 'hide' : 'show'}}</small></h2></a>
    <div class="collapse" ng-class="{in : processFlowsVisibility}" id="flows">
      <div ng-if="flows.length == 0">This process has no elementary flow.</div>
      <table class="table tmd table-nonfluid table-condensed table-striped" ng-if="flows.length > 0">
        <thead>
          <tr>
            <th>Category</th>
            <th>Type</th>
            <th>Value</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="flow in flows">
            <td>{{flow.category}}</td>
            <td>{{flow.label}}</td>
            <td>{{flow.value}}</td>
            <td>{{flow.unit.symbol}} / {{unit.symbol}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  <hr />
</div>