<div class="container">
  <p>
    <h2>References</h2>
    <ul>
      <li ng-repeat="reference in references">
        <span ng-if="reference.shortName">[{{reference.shortName}}] </span><span ng-if="reference.creator">{{reference.creator}}, </span><span ng-if="reference.title"><em>{{reference.title}}</em></span><span ng-if="reference.publisher">, {{reference.publisher}}</span><span ng-if="reference.source">, {{reference.source}}</span><span ng-if="reference.date">, {{reference.date}}</span><span ng-if="reference.url">, <a ng-href="{{reference.url}}" target="_blank">{{reference.url}}</a></span>.
        <span ng-if="reference.groups.length > 0" data-toggle="collapse" data-target="#usages-{{$index}}" style="cursor: pointer;">| Usage: <a><strong>{{reference.groups.length}}</strong></a></span>
        <div ng-if="reference.groups.length > 0" class="collapse out" id="usages-{{$index}}">
          Used in:
          <ul>
            <li ng-repeat="group in reference.groups">
              <a ng-href="#/group/{{group.id}}"><span ng-if="group.type == 'PROCESS'">[P]</span><span ng-if="group.type == 'COEFFICIENT'">[C]</span> {{group.label}}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </p>
  <hr />
</div>