<h1>What's new</h1>
<p>
    Here is a log of main changes on functionalities and data.
    For a fully detailed log, please consult the
    <a href="https://github.com/myclabs/carbonontology" target="_blank">data</a>
    and <a href="https://github.com/myclabs/carbondb" target="_blank">inference engine</a> open source projects (Github).
</p>
<ul>
	<li><strong>2014-10-09</strong> <strong>[Functionalities]</strong>
        Addition of single process and single coefficient views.</li>
    <li><strong>2014-10-09</strong> <strong>[Functionalities]</strong> Display of comments on groups.
        At this stage few comments exist among the data, but you can find one for group
        "Mass of agricultural input used for cultivation of a unit of area".</li>
    <li><strong>2014-10-09</strong> <strong>[Functionalities]</strong>
        Addition of pages "What's new" and "Known bugs".</li>
    <li><strong>2014-10-07</strong> <strong>[Functionalities]</strong>
        In the view on a group of processes, display of values ands units for various impacts and elementary flows
        (instead of the single "100 years global warming potential GHG" impact that was displayed up to now).</li>
    <li><strong>2014-09-30</strong> <strong>[Data]</strong>
        Addition of air freight transport group and jet fuel combustion and upstream.</li>
    <li><strong>2014-08-26</strong> <strong>Online application launched!</strong>
        Embryonic data (categories, groups, relations, in order to display functionalities).
        Tree of categories and graph of groups of processes available on home page.
        View of a group of processes displays the the single "100 years global warming potential GHG" impact
        and upstream and downstream relations.</li>
</ul>

<hr />
