<h1>What's new</h1>
Here are the main changes on functionalities and data.
Data are maintained as an  <a href="https://github.com/myclabs/carbonontology" target="_blank">open source project onGitHub</a>, where you can see data history in full details.

<ul>
	<li>2014-10-09 [Functionalities] Addition of single process and single coefficient views.</li>
    <li>2014-10-09 [Functionalities] Display of comments on groups.
        At this stage few comments exist among the data, but you can find one for group "Mass of agricultural input used for cultivation of a unit of area".</li>
    <li>2014-10-09 [Functionalities] Addition of pages "What's new" and "Known bugs".</li>
    <li>2014-10-07 [Functionalities] In the view on a group of processes, display of values ands units for various impacts and elementary flows
        (instead of the single "100 years global warming potential GHG" impact that was displayed up to now).</li>
    <li>2014-09-30 [Data] Addition of air freight transport group and jet fuel combustion and upstream.</li>
    <li>2014-08-26 Online application launched! Embryonic data (categories, groups, relations, in order to display functionalities).
    Tree of categories and graph of groups of processes are available on home page. View of a group of processes displays the the single "100 years global warming potential GHG" impact
    and upstream and downstream relations.</li>
</ul>

<hr />
