@link-color: darken(#428bca, 6.5%);
@link-hover-color: darken(@link-color, 15%);
@table-bg-accent: #f9f9f9;

body {
  margin-top: 40px;
}

#labelViewType {
  padding-left: 0px;
  text-align: left;
}

.tmd {
  width: auto;
  td, th {
    min-width: 100px;
    &.header-row {
      text-align: left;
    }
  }
  tbody tr:first-child {
    td, th {
      border-top: none;
    }
  }
}

.table-centered {
  td, th {
    text-align: center;
    vertical-align: middle !important;
    width: auto;
  }
}

.table {
  .td-collapse {
    padding: 0;
    padding-left: 40px;
    border: none;
    text-align: left;
  }
  tbody tr:first-child {
    td, th {
      border-top: none;
    }
  }
}

.table-striped4 {
  > tbody > tr:nth-child(4n+1) {
    > td,
    > th {
      background-color: @table-bg-accent;
    }
  }
}

.table-nonfluid {
    width: auto;
}

a.anchor {
  display: block;
  position: relative;
  top: -51px;
  visibility: hidden;
}

.navbar-brand {
  padding: 10px 15px;
}

.menu-home {
  a {
    font-size: 36px;
    text-align: center;
    text-decoration: none;
  }
  i {
    font-size: 120px;
  }
}

a.collapseHead {
  &:hover {
    text-decoration: none;
    small {
      text-decoration: underline;
      color: @link-hover-color;
    }
  }
  h2, h3, h4 {
    color: #333;
    text-decoration: none;
  }
  small {
    color: @link-color;
  }
}

#partners {
  .thumbnail {
    height: 110px;
    white-space: nowrap;
    text-align: center;
    img {
      max-height: 100px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  :before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
