@()<!DOCTYPE html>
<html>
  <head>
    <title data-ng-bind="pageTitle"></title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@CdnWebJarAssets.getUrl(CdnWebJarAssets.locate("bootstrap.min.css"))" />
    @*-- Add More CSS here -- *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <!-- <link rel="stylesheet" media="screen" href="@CdnWebJarAssets.getUrl(CdnWebJarAssets.locate("tree-control-attribute.css"))"> -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tree-control-attribute.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/graph.css")">
    @import play.api.Play.current
    <script>
     @Html(org.webjars.RequireJS.getSetupJavaScript(routes.CdnWebJarAssets.at("").url, current.configuration.getString("contentUrl").orNull))
    </script>
    <script data-main="@routes.Assets.at(helper.mainScriptSrc(scriptName = "main"))" src="@CdnWebJarAssets.getUrl(CdnWebJarAssets.locate("require.js"))"></script>
    <script src="@routes.Assets.at("javascripts/geometry.js")"></script>

  </head>
  <body>
    @*-- Header -- *@
    <header class="navbar navbar-inverse navbar-fixed-top basics-nav" data-ng-controller="HeaderCtrl"
        data-ng-cloak>
      <div class="container" data-ng-switch="!!user" data-ng-cloak>
        <a href="#/" class="navbar-brand">CarbonDB</a>
        <div data-ng-switch-when="true">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> {{user.firstName}} {{user.lastName}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li>
                  <a href="" data-ng-click="logout()">
                    <span class="glyphicon glyphicon-off"></span> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#/login">Login</a></li>
          </ul>
        </div> -->
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-left">
            <li><a href="#/tree">Tree</a></li>
          </ul>
        </div>
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-left">
            <li><a href="#/graph">Graph</a></li>
          </ul>
        </div>
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-left">
            <li><a href="#/references">References</a></li>
          </ul>
        </div>

        <!-- <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#/upload">Upload</a></li>
          </ul>
        </div> -->
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="http://units.myc-sense.com/en/" target="_blank">Units</a></li>
          </ul>
        </div>
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#/known-bugs">Known bugs</a></li>
          </ul>
        </div>
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#/whats-new">What's new</a></li>
          </ul>
        </div>
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#/help">Help</a></li>
          </ul>
        </div>
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#/about">About</a></li>
          </ul>
        </div>
      </div>
    </header>
    @* -- Main Content -- *@
    <div data-ng-view data-ng-cloak></div>
    @*-- Footer -- *@
    <footer data-ng-controller="FooterCtrl">
    </footer>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-23818673-5', 'auto');
    //ga('send', 'pageview');

  </script>
</html>
